* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 20px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.col-25 {
  flex-basis: 25%;
}

.card {
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 100%;
}

.card-title {
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

h2 {
  padding: 5px 5px 0;
  font-size: 18px;
  text-align: center;
}

.card-text {
  padding: 5px 10px;
  line-height: 20px;
}

.card-text p {
  margin-bottom: 10px;
}

.alert {
  padding: 20px 10px;
  border: none;
  border-radius: 10px;
  margin: 10px 20px;
  text-transform: uppercase;
}

.alert-type-success {
  background-color: rgba(3, 209, 3, 0.898);
}